{% extends 'base.html' %} {% block content %}

<h1>Mug Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ mug.name }}</span>
    <p>Color: {{ mug.color }}</p>
    <p>Description: {{ mug.description }}</p>
    <p>Size: {{ mug.size }}</p>
    {% if mug.in_use %}
    <p>In use!</p>
    {% else %}
    <p>Not in use</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'mugs_update' mug.id %}">Edit</a>
    <a href="{% url 'mugs_delete' mug.id %}">Delete</a>
  </div>
</div>
<h4>Drinks</h4>
<div class="col s6">
<form action="{% url 'add_drink' mug.id %}" method="POST">
    {% csrf_token %}
    {{ drink_form.as_p }}
    <input type="submit" class="btn" value="Add Drink">
  </form>
    <table class="striped">
      <thead>
        <tr><th>Type</th><th>Name</th><th>Description</th></tr>
      </thead>
      <tbody>
        {% for drink in mug.drink_set.all %}
          <tr>
            <td>{{drink.type}}</td>
            <td>{{drink.name}}</td>
            <td>{{drink.description}}</td>
            <td><a href="{% url 'delete_drink' drink.mug_id drink.id %}"> Delete </a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ mug.name }}'s Coasters</h3>
    {% if mug.coasters.count %}
      {% for coaster in mug.coasters.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ coaster.color }}</span> {{ coaster.shape }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Coasters :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Coasters</h3>
    {% if coasters.count %}
      {% for coaster in coasters.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ coaster.color }}</span> {{ coaster.shape }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_coaster' mug.id coaster.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{mug.name}} Already Has All Coasters Available</h5>
    {% endif %}
  </div>

<script>
const typeEl = document.getElementById('id_type');
M.FormSelect.init(typeEl)



</script>
{% endblock %}
